body{
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}

header{
	width: 100%;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

/*PRIMEIRA NAV*/

img{
	width: 40px;
	margin-top: 0.6%;
	padding-bottom: 1%;
}

.container-fluid{
	width: 100%;
	height: 15%;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	font-size: 34px;
	padding-bottom: 0.5%;
	margin-top: 1%;
	color: black;

}

.row{
	width: 100%;
	height: 80%;
	background-color: #1E90FF;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

		/*VIDEO*/

		/*SEGUNDA NAV*/

.entrar{
	font-size: 45px;
	color: black;
}

nav div a h1:hover{
	color: #00008B;
	text-decoration: none;
}


		/*FOOTER*/

.footer{
	width: 100%;
	padding-bottom: 20%;
	height: 0;
	background-color: white;
	margin-top: 1%;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
}

.master{
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;
	text-align: center;
}

.hack{
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	text-align: center;
}
